include .pycheckrc
include AUTHORS
include CHANGELOG
include LICENSE
include data/bpython
include data/bpython-gtk
include data/bpython.desktop
include doc/*.[0-9]
include sample-config
include *.theme
include bpython/logo.png
include ROADMAP
include TODO
include bpython/test/*.py
include bpython/test/*.theme
include bpython/translations/*/LC_MESSAGES/bpython.po
include bpython/translations/*/LC_MESSAGES/bpython.mo
